<!DOCTYPE html>
<html ng-app="photoApp">

<head>
    <title></title>
    <!-- AngularJS script -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Main CSS -->
    <link rel="stylesheet" type="text/css" href="main.css">
</head>

<body ng-controller="PhotoAppController">
    
    <div class="center-align vertical-align" ng-if="!fetchPhotosBtnClicked">
        <button ng-click="start()" class="waves-effect waves-light btn-large btn-margin">Let's Fetch some photos!</button>
    </div>

   <div class="btn-array" ng-if="fetchPhotosBtnClicked">
       
       <button ng-if="!sortBtnClicked" class="btn-floating btn-large waves-effect waves-light blue right" ng-click="sortBy('title')"><i class="material-icons" >mode_edit</i></button>

       <button ng-if="sortBtnClicked" class="btn-floating btn-large waves-effect waves-light red right btn-margin" ng-click="sortBy('-title')"><i class="material-icons" >mode_edit</i></button>   

   </div>

    <div class="row" ng-if="fetchPhotosBtnClicked">
        <div ng-repeat="img in images | orderBy: 'sortFactor' " ng-show="img.url">
            <div class="col s4 m3">
                <div class="card">
                    <div class="card-image">
                        <img ng-src="{{img.url}}">
                        <span class="card-title">{{img.title}}</span>
                    </div>
                    <div class="card-content">
                        <p>Author : {{img.author}} </p>
                    </div>
                    <div class="card-action">
                        <a href="#">This is a link</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="app.js"></script>
</body>

</html>